<header layout:fragment="navbar">
    <div class="container-fluid d-flex align-items-center justify-content-evenly p-3 bg-light rounded-2 w-100 ps-5 pe-5 w-100 mb-5">
        <div class="flex-grow-1 text-nowrap" id="navLogo">
            <a class="align-middle text-center" href="/"><img th:src="@{/images/logoCLZ.png}" alt="Logo" class="img-fluid w-100"></a>
        </div>
        <nav class="container-fluid d-flex align-items-center justify-content-end ms-5 p-0" id="navItems">
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Início</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/mapa}">Mapa de Ecopontos</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/reciclopedia}">Reciclopédia</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{registerEcopoint}">Formulário Ecopontos</a></li>
<!--                <li class="nav-item"><a class="nav-link" th:href="@{/gerenciamento}">Gerenciamento</a></li>-->
            </ul>
            <div class="dropdown dropdown-button">
                <button class="btn btn-secondary mt-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Área do Voluntário
                </button>
                <ul class="dropdown-menu mt-0" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" th:href="@{/ecopointsList}">Gestão de Ecopontos</a></li>
                    <li><a class="dropdown-item" th:href="@{/residuesList}">Gestão de Resíduos</a></li>
<!--                    <li><a class="dropdown-item" th:href="@{/dashboard}">Dashboard</a></li>-->
                </ul>
            </div>
<!--                <li class="nav-item"><a class="nav-link" th:href="@{/auth/login}">Entrar/Cadastrar</a></li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" id="logoutLink" href="#">Logout</a>-->
<!--                </li>-->
        </nav>
    </div>

    <script>
        $(document).ready(function() {
            $("#logoutLink").click(function(event) {
                event.preventDefault();

                $.ajax({
                    url: '/auth/logout',
                    type: 'POST',
                    success: function(data) {
                        window.location.href = '/';
                    },
                    error: function(xhr, status, error) {
                        console.error('Error during logout:', error);
                    }
                });
            });

            $('.dropdown .dropdown-button').hover(function () {
                $(this).find('.dropdown-menu').addClass('show');
            }, function () {
                $(this).find('.dropdown-menu').removeClass('show');
            });
        });
    </script>
</header>