html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    height: 100%;
}

body {
	font-family: Inter;
}

#navItems li {
	display: inline;
}

.dropdown-button:hover .dropdown-menu {
    display: block;
}

/*  FOOTER  */
body {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}
/*  -----  */

/*  MAP  */
#mapHeader>select {
	width: 33%;
}

.tableEcopoints {
	border-collapse: collapse;
	width: 70%;
	margin: 0 auto;
}

.tableEcopoints th, .tableEcopoints td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

.tableEcopoints th {
	background-color: #f2f2f2;
	color: #333;
}

.tableEcopoints tr:nth-child(even) {
	background-color: #f2f2f2;
}

.tableEcopoints tr:hover {
	background-color: #ddd;
}

.tableEcopoints {
	font-family: Arial, sans-serif;
	font-size: 14px;
}

 /* CADASTRO ECOPONTO */

fieldset {
    margin-top: 15px;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

.navigation {
    margin-top: 20px;
    text-align: center;
}

.centralized-form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* INDEX */
.banner img {
	width: 100%;
	height: auto;
}

.ecopoints-section, .recyclopedia-section, .contribute-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 2rem;
}

.background {
	width: 100%;
	background-color: #dce6ec;
}

.ecopoints-section h2, .recyclopedia-section h2, .contribute-section h2 {
	margin-bottom: 1rem;
}

button, a.btn {
	color: #fff;
	border: none;
	padding: 0.5rem 1.5rem;
	border-radius: 5px;
	text-decoration: none;
}

.container-fluid .col-md-6 img {
	display: block;
}

.col-md-6 img {
	width: 50%;
	margin: auto;
}

.index-row {
	width: 73%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.buttonContribuir {
	margin: auto;
}

.centered-btn {
	display: flex;
	justify-content: center;
	margin-top: 20px; /* Espaçamento superior */
}

.small-btn {
	max-width: 200px; /* Largura máxima */
	width: 100%; /* Ocupa toda a largura do contêiner */
}

.progress-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    overflow: visible;
}

.progress-bar-step {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    line-height: 2.3;
}

.progress-bar-step.active-step {
    background-color: #c1d03a;
    color: #fff;
}

/* FIM INDEX */


/* LOGIN/REGISTRO */

.form-container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* COMEÇO reciclopedia.html */
.reciclopedia-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reciclopedia-container .residue-box {
    width: 200px;
    height: 200px;
    margin: 15px;
    border-radius: 15px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.reciclopedia-container .residue-box:hover .overlay {
    opacity: 0.6;
}

.reciclopedia-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    border-radius: 15px;
    transition: opacity 0.3s;
}

.reciclopedia-container .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
}

.reciclopedia-container .residue-common {
    background-image: url('/images/imgComum.png');
}

.reciclopedia-container .residue-recyclable {
    background-image: url('/images/imgReciclavel.png');
}

.reciclopedia-container .residue-special {
    background-image: url('/images/imgEspecial.png');
}

.reciclopedia-container .residue-reject {
    background-image: url('/images/imgRejeito.png');
}
/* FIM reciclopedia.html */

/* COMEÇO - Todas páginas de resíduos */

.listaResiduos {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    align-items: flex-start;
    margin-bottom: -25px;
    padding-bottom: 50px;
}

.listaResiduos .container {
    max-width: 1000px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.listaResiduos h2 {
    color: #333;
}

.listaResiduos .list-group-item {
    border: none;
    padding: 10px 15px;
    font-family: "Varela Round", sans-serif;
    font-weight: 0;
    color: #002000;
    font-size: 24px;
}

.listaResiduos .input-group-text {
    background-color: #fff;
    border-right: 0;
}

.listaResiduos .form-control {
    border-left: 0;
}

.listaResiduos .form-control:focus {
    box-shadow: none;
    outline: none;
    border-color: #ced4da;
}

.listaResiduos .input-group {
    max-width: 600px;
    margin: 0 auto 20px;
}
/* FIM - Todas páginas de resíduos */

/* COMEÇO - residuosComuns.html*/
.listaResiduosComuns {    
    background-color: #f7f2ee;
}

.listaResiduosComuns .list-group-item:nth-child(odd) {
    background-color: #f7f2ee;
}
/* FIM - residuosComuns.html */

/* COMEÇO - residuosEspeciais.html*/
.listaResiduosEspeciais {    
    background-color: #eeeeee;
}

.listaResiduosEspeciais .list-group-item:nth-child(odd) {
    background-color: #eeeeee;
}
/* FIM - residuosEspeciais.html */

/* COMEÇO - rejeitos.html*/
.listaRejeitos {    
    background-color: #f9fdf2;
}

.listaRejeitos .list-group-item:nth-child(odd) {
    background-color: #f9fdf2;
}
/* FIM - rejeitos.html */

/* COMEÇO - residuosReciclaveis.html*/
.listaResiduosReciclaveis {    
    background-color: #ffffe6;
}

.listaResiduosReciclaveis .list-group-item:nth-child(odd) {
    background-color: #ffffe6;
}
/* FIM - residuosReciclaveis.html */


