<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Mapa de Ecopontos</title>
</head>
<body layout:fragment="body">

    <div class="w-75 m-auto mt-3 bg-secondary border rounded-top-3">
        <div class="container p-3 d-flex flex-row justify-content-evenly" id="mapHeader">
            <select id="selectNeighborhood" class="form-select">
                <option value="-1" selected>Selecione um Bairro</option>
                <option th:each="val, iter : ${neighborhoods}" th:value="${iter.index}" th:text="${val}"></option>
            </select>
            <select id="selectResidue" class="form-select">
                <option value="-1" selected>Selecione um Resíduo</option>
                <option th:each="val, iter: ${residueTypes}" th:value="${iter.index }" th:text="${val}" /*th:attr="data-id=''"*/></option>
            </select>
            <button id="clearFilters" class="btn btn-light"><i class="bi bi-trash-fill"></i></button>
        </div>
        <div id="map" class="bg-light" style="height: 60vh"></div>
    </div>

</body>
</html>