<!doctype html>
<html lang="pt-br"
	  xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<head>
	<title>Formulário Ecopontos</title>
</head>
<body layout:fragment="body">
	<main>
		<section class="container-fluid d-flex justify-content-center" style="max-width: 500px;">
			<form action="/registerEcopoint" th:object="${ecopoint}" method="post">
					<label for="inputEmail1" class="form-label">E-mail</label>
					<input type="email" class="form-control" id="inputEmail1" name="email"/>
					
					<label for="inputNome" class="form-label">Nome da Empresa / Instituição / Estabelecimento</label>
					<input type="text" class="form-control" id="inputNome" name="companyName"/>
					
					<label for="inputResponsavel" class="form-label">Responsável pelo cadastro (nome)</label>
					<input type="text" class="form-control" id="inputResponsavel" name="responsibleName"/>
					
					<label for="inputEmail1Resp" class="form-label">E-mail ou WhatsApp (preferível) do responsável pelo cadastro</label>
					<input type="text" class="form-control" id="inputEmail1Resp" name="responsiblePhone"/>
					
					<label for="inputRedeSocial" class="form-label">Redes sociais do local (se houver)</label>
					<input type="text" class="form-control" id="inputRedeSocial" name="socialNetwork"/>
					
					<label for="inputRua" class="form-label">Rua</label>
					<input type="text" class="form-control" id="inputRua" name="road"/>
					
					<label for="inputNumero" class="form-label">Número</label>
					<input type="number" class="form-control" id="inputNumero" name="number"/>
					
					<label for="inputComplemento" class="form-label">Complemento</label>
					<input type="text" class="form-control" id="inputComplemento" name="addOn"/>
					
					<label for="inputBairro" class="form-label">Bairro</label>
					<input type="text" class="form-control" id="inputBairro" name="neighborhood"/>
					
					<br/>
					<p>Tipo de resíduo que o Ecoponto vai receber (selecionar um ou mais!)</p>
					<div class="form-check">
					<label th:each="opcao : ${opcoes}">
			            <input class="form-check-input" type="checkbox" name="residueType" th:value="${opcao}" />
			            <span th:text="${opcao}"></span>
			            <br/>
			        </label>
			        </div>
					<br/>
					<br/>
					<p>Seu Ecoponto vai ser aberto ao público em geral?*</p>
					<div class="form-check">
			 			<input class="form-check-input" type="radio" th:field="*{isPublic}" value="true"/> Sim
			 		</div>
			 		<div class="form-check">
	        			<input class="form-check-input" type="radio" th:field="*{isPublic}" value="false"/> Não
					</div>
					<br/><br/>
					<center>
						<button type="submit" class="btn btn-primary">Enviar</button>
					</center>
			</form>
		</section>
	</main>
</body>
</html>